@import "../../variables";
.lancamento{
  position: relative;
  top: 0;
  left: 0;
  min-width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(#5A646E, 0.16);
  transition: all ease 0.4s;
  @media (min-width: 360px){
    min-width: 340px;
  }
  @media (min-width: 992px){
    padding: 32px;
    border-radius: 40px;
  }
  @media (min-width: 1200px){
    min-width: 440px;
  }
  .pagamento-tipo{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    @media (min-width: 768px){
      font-size: 28px;
    }
  }
  .valor-total{
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: right;
    font-size: 32px;
    font-weight: 900;
    color: $azul;
    @media (min-width: 768px){
      font-size: 48px;
    }
    @media (min-width: 992px){
      font-size: 64px;
    }
  }
  .valor-taxas{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: black;
    text-align: right;
    @media (min-width: 768px){
      font-size: 24px;
    }
    @media (min-width: 992px){
      font-size: 32px;
    }
  }
  .codigo{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    @media (min-width: 768px){
      font-size: 24px;
    }
    @media (min-width: 992px){
      font-size: 32px;
    }
  }
  .card{
    position: relative;
    margin-left: -32px;
    max-width: 380px;
    padding: 16px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(237,244,247,1) 100%);
    font-size: 16px;
    border-radius: 20px;
    transition: all ease 0.4s;
    overflow: hidden;
    @media (min-width: 992px){
      margin-left: -64px;
      padding: 32px;
      font-size: 32px;
    }
    @media (min-width: 1200px){
      margin-left: -96px;
    }
    .bandeira,
    &-numero{
      position: relative;
      z-index: 2;
    }
    &-numero{
      margin-top: 40px;
      margin-bottom: 0;
      text-align: right;
    }
    .esquerda,
    .direita{
      position: absolute;
      z-index: 1;
      max-width: 55%;
      opacity: 0.1;
      @media (min-width: 992px){
        max-width: inherit;
      }
    }
    .esquerda{
      top: -55px;
      left: -55px;
    }
    .direita{
      right: -80px;
      bottom: -80px;
    }
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
    margin-top: -32px;
    margin-right: -32px;
    margin-bottom: 8px;
    @media (min-width: 992px){
      column-gap: 16px;
      margin-top: -64px;
      margin-right: -64px;
    }
    .esfera{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: $azul-claro;
      font-size: 16px;
      color: white;
      border-radius: 50%;

      @media (min-width: 992px){
        width: 70px;
        height: 70px;
        font-size: 32px;
      }

      img{
        max-height: 60%;
      }

      &.aprovada{
        background-color: $verde;
      }

      &.rejeitada{
        background-color: $vermelho;
      }
    }
    .via,
    .status{
      display: none;
    }
  }
  &:hover{
    top: -8px;
    left: -8px;
    box-shadow: 8px 14px 12px rgba(#5A646E, 0.16);
    .card{
      margin-left: -64px;
    }
  }
  &.small{
    min-width: 255px;
    .card{
      display: flex;
      align-items: center;
      margin-left: 0;
      max-width: 100%;
      padding: 0;
      background: transparent;
      border-radius: 0;
      .direita,
      .esquerda{
        display: none;
      }
      &-numero{
        margin-left: 8px;
        margin-top: 0;
        font-size: 18px;
      }
    }
    .valor-total{
      text-align: left;
      font-size: 32px;
    }
    .valor-taxas{
      text-align: left;
      font-size: 16px;
    }
    .codigo{
      margin-top: 16px;
      font-size: 18px;
    }
    .pagamento-tipo{
      font-size: 22px;
    }
    .header{
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      .icone{
        display: none;
      }
      .esfera{
        width: auto;
        height: auto;
        background-color: transparent;
        color: $cinza;
        border-radius: 0;
        &.aprovada{
          color: $verde;
        }
        &.rejeitada{
          color: $vermelho;
        }
      }
      .via,
      .status{
        display: block;
        margin: 0;
      }
      .via{
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 18px;
      }
      .status{
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
}
